{% extends "CanalTPSamCoreBundle:Email:base.html.twig" %}
{% block body %}
<p>Bonjour,</p>

<p>Dans le cadre de notre politique RGPD et conformément au mail que nous vous avons envoyé le mois dernier, votre compte a été supprimé de la plateforme : <a href="{{ baseUrl }}">{{ baseUrl }}</a>.</p>

<p>Pour toute question ou création d'un nouveau compte, veuillez contacter le support Kisio Digital.</p>

<p>Merci.</p>

<p>L'équipe Kisio Digital</p>
<br/>
-----------------------------------------------------------------------------------------------------------------------
<br/>
<p>Hello,</p>

<p>As part of our GDPR policy and in conformity with our previous mail, your account has been deleted of the platform: <a href="{{ baseUrl }}">{{ baseUrl }}</a>.</p>

<p>Please contact our support team for any question or to demand a new account.</p>

<p>Thank you.</p>

<p>The Kisio Digital Team</p>
{% endblock %}
